# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCDPAeVdrvA_UdC-TbDdUVBQIVmZyB_jvk
VITE_FIREBASE_AUTH_DOMAIN=typerush-681e1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=typerush-681e1
VITE_FIREBASE_STORAGE_BUCKET=typerush-681e1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=932815206996
VITE_FIREBASE_APP_ID=1:932815206996:web:c72a24fde6b13b1ed70bc1
VITE_FIREBASE_MEASUREMENT_ID=G-76JQ28DJY1